<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Feriados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex justify-content-center" style="margin-top:50px;"></div>
  <div id="header">
  <img src="../assets/images/logo.png">
  <h1>Feriados</h1><br></div>



  <div style="margin-left:10px; margin-right:15px;" *ngFor='let feriado of feriados' class="alert alert-primary" role="alert">
    <h3><b>{{feriado.nombre}}</b></h3>
    <p>Fecha: <b>{{feriado.fecha}}</b><br>
    Tipo: <b>{{feriado.tipo}}</b><br>
    Es Irrenunciable?: <b>{{feriado.ireenunciable?'Si':'No'}}</b></p>
  </div>
  
 
  
</ion-content>
